[submodule "src/third_party/overcooked_ai"]
	path = src/third_party/overcooked_ai
	url = https://github.com/HumanCompatibleAI/overcooked_ai.git
[submodule "src/v1/modules/openpi"]
	path = src/v1/modules/openpi
	url = https://github.com/ManifoldRG/openpi.git
